body{
    background-color:#5C9EAD;
    color:#326273;
}

main{
    background-color:#f0f0f0;
    padding: 10px 30px 10px 30px;
    margin: 0px 100px 0px 100px;
    border-radius: 20px;
    font-family: monospace;
    font-size: 20px;
    /* text-align: center; */
}

header{
    background-color:#f0f0f0;
    margin: 20px 100px 20px 100px;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    text-align: center;
    font-family: Lobster;
}

footer{
    background-color:#f0f0f0;
    margin: 20px 100px 20px 100px;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    text-align: center;
}

h2{
    text-align: center;
}

nav{
    background-color: #326273;
    color: #f0f0f0;
    margin: 20px 0px 20px 0px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}

ul{
    background-color:#E3E3E3;
    padding: 10px 30px 10px 30px;
    margin: 10px 30px 10px 0px;
    border-radius: 20px;
}

li{
    padding: 10px 30px 10px 30px;
    text-align: left;
}

a{
    color: #f0f0f0;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration:double;
}

#portrait-photo{
    width: 300px;
    height: 300px;
    object-fit:cover;
    border-color:#326273;
    border-style:solid;
    border-width: 15px;
    border-radius: 50%;
}

#portrait{
    text-align: center;
}

p{
    text-align: center;
}

figcaption{
    font-style: italic;
    font-size: 15px;
}

#built-by{
    font-style: italic;
    font-size: 15px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 50px auto;
}

th, td{
    border: 1px solid black;
    padding: .5em 1.5em .5em 1.5em;
    text-align: left;
    vertical-align: middle;
}

.right{
    text-align: right;
}

tbody tr:nth-child(odd) {
    background-color: #5C9EAD;
    color: #E3E3E3;
}

.dept{
    vertical-align: top;
    font-weight: bolder;
}

.button{
    background-color: #326273;
    color: #E3E3E3;
}

form{
    text-align: center;
}

label{
    font-size: 80%;
    font-weight: bold;
}

input{
    background-color: #5C9EAD;
    color: #E3E3E3;
    font-size: 24px;
    font-family: monospace;
}

::placeholder{
    color: #326273;
}

.web-eval{
    text-align: center;
}

.web-example{
    color: saddlebrown;
}

.web-example-img{
    width: 50em;
    height: auto;
    border-radius: 30px;
    border-style: solid;
    border-width: 5px;
    border-color: #326273;
}

#calculator{
    margin: auto;
    border-radius: 5%;
    width: 31em;
    height: 40em;
}

#calc-display{
    background-color: black;
    margin:auto auto .1em auto;
    border-radius: 1em 1em 0 0 ;
    width: 30em;
    height: 10em;
}

#calc-buttons{
    margin: 0 auto auto auto;
    border-radius: 1em;
    width: 30em;
    height: 30em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    column-gap: .1em;
    row-gap: .1em;
}

.number-button{
    border-color: #326273;
    border-width: .01em;
}

.oper-button{
    border-color: #326273;
    border-width: .01em;
    background-color: #5C9EAD;
}

#equal-button{
    border-radius: 0 0 2em 0;
    grid-row: 2/6;
    grid-column: 4/-1;
    border-color: #326273;
    background-color: #326273;
    border-width: .01em;
}

#decimal-button{
    border-color: #326273;
    border-width: .01em;
}

#clear-button{
    border-color: #326273;
    border-width: .01em;
}

#zero-button{
    border-radius: 0 0 0 2em;
    border-color: #326273;
    border-width: .01em;
}
