body{
    background-color:#403D58;
}

main, #header, #footer{
    background-color:#f0f0f0;
    text-align: center;
}

main {
    max-width: 2000px;
    overflow: hidden;
    font-family: monospace;
    font-size: 20px;
    padding: 30px 0;
}
#header{
    padding: 10px 30px 10px 30px;
    color: #403D58;
}

#footer{
    margin: 20px 0;
    padding: 10px 30px 10px 30px;
}

#navigation{
    background-color: #FC7753;
    color: #f0f0f0;
    margin: 0 0 20px 0;
    height: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

li{
    padding: 10px 30px;
}

a{
    color: #f0f0f0;
    font-weight: bold;
    text-decoration: none;
    margin: 0 20px;
}

a:hover{
    color:#403D58;
    font-size: 25px;
}

#built-by{
    font-style: italic;
    font-size: 12px;
}

#main-body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#main-pic {
    width: 80%;
    overflow: hidden;
    margin: 0 10px;
}

#main-image {
    width: 50em;
    height: auto;
}

#images-column {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content:right;
    margin: 0 10px;
    overflow: hidden;
}

#image-list {
    list-style: none;
    width: 300px;
    background-color: transparent;
}

.image-list-item img{
    width: 200px;
    height: auto;
}

#portrait {
    width: 50%;
    margin: 0 10px;
    overflow: hidden;
}

#portrait img {
    width: 30em;
    height: auto;
}

#introduction {
    width: 50%;
    text-align: left;
    margin: 0 10px;
    overflow: hidden;
    margin: 150px 0 0 0;
}

#socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    overflow: hidden;
    margin: 50px 0 0 0;
}

#socials a img {
    width: 3em;
    height: auto;
    margin: 0 20px;
}

.form-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    color: #403D58;
}

button{
    background-color: #FC7753;
    width: 80px;
    height: 30px;
    color: #403D58;
    text-align: center;
    font-size: 17px;
    font-weight: bolder;
    border-color: #403D58;
}

label{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

input{
    background-color: #FC7753;
    color: #E3E3E3;
    font-size: 24px;
    font-family: monospace;
}

::placeholder{
    color: #403D58;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

.selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}

.order-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 25%;
    max-width: 23%;
    padding: 0 4px;
    margin: 0 10px;
}

.order-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

#order-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}

/* Taken from w3schools' Responsive Image Grid: https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
.gallery-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5px;
    justify-content: center;
}

.gallery-column {
    flex: 25%;
    max-width: 23%;
    margin: 0 5px;
}

.gallery-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
  
@media screen and (max-width: 1000px) {
    .gallery-column {
        flex: 50%;
        max-width: 40%;
    }

    .order-column {
        flex: 100%;
        max-width: 100%;
    }
}
  
@media screen and (max-width: 600px) {
    .gallery-column {
        flex: 100%;
        max-width: 100%;
    }
}